---
import { createElement } from 'react'
import { Callout, variantFor } from '@setu/blocks'
import '@setu/blocks/callout.css'

const { type = 'info', title } = Astro.props
const variant = variantFor(String(type))
const titleNode = title ? createElement('span', { className: 'callout-title' }, title) : undefined
---

<Callout tone={variant.tone} icon={variant.icon} title={titleNode}>
  <div class="callout-body"><slot /></div>
</Callout>
