---
import { getEntry, render } from 'astro:content'

const entry = await getEntry('blog', 'post')
const { Content } = await render(entry!)
---

<html lang="en">
  <head><title>Setu preview-render spike</title></head>
  <body>
    <main>
      <Content />
    </main>
  </body>
</html>
